<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify Your Email</title>
    </head>

    <body>
        <div dir="ltr">
            <div
                style="background-image:url(&quot;https://ci5.googleusercontent.com/proxy/k5olGTirlj6IgLfxdU1OpUFTu7NuI4XU43ZqZ_q0eqCeNVrwowNfgc_dd35xPuTAWhaWeEUr7J-zXjyZmMdMnNNXSnVPttZWntkmAd0PdyTnxw=s0-d-e1-ft#https://cdn.robinhood.com/post_office_email_assets/headerBg.png&quot;);background-position:50% 0%;background-size:auto;background-repeat:repeat;background-origin:initial;background-clip:initial;margin:0px auto;max-width:652px">
                <div style="line-height:0;font-size:0px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                        style="border-collapse:collapse;background-image:url(&quot;https://ci5.googleusercontent.com/proxy/k5olGTirlj6IgLfxdU1OpUFTu7NuI4XU43ZqZ_q0eqCeNVrwowNfgc_dd35xPuTAWhaWeEUr7J-zXjyZmMdMnNNXSnVPttZWntkmAd0PdyTnxw=s0-d-e1-ft#https://cdn.robinhood.com/post_office_email_assets/headerBg.png&quot;);background-position:50% 0%;background-size:auto;background-repeat:repeat;background-origin:initial;background-clip:initial;width:652px">
                        <tbody>
                            <tr>
                                <td
                                    style="border-collapse:collapse;border:1px solid rgb(180,189,194);direction:ltr;padding:21px 32px 18px;text-align:center;vertical-align:top">
                                    <div
                                        style="max-width:100%;width:586px;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;vertical-align:top;padding:0px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                            style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="border-collapse:collapse;font-size:0px;padding:0px;word-break:break-word">
                                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                                            style="border-collapse:collapse;border-spacing:0px">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        style="border-collapse:collapse;width:114px">
                                                                                        <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=a561d7644f&amp;attid=0.1&amp;permmsgid=msg-f:1698455849053079408&amp;th=179220988d7e4770&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9oZDQuYlICtummWeZMrAwvveDUGpSajwT3-KjBBgMWyhYza2yAoZaWXM_6qQ9DXCtG8UOIlRuoMwCC5JegjO_SQwWeRj9fAY1NA6U5ETn1lnwi43P5lAX9LiU&amp;disp=emb&amp;realattid=ii_ko43eli70"
                                                                                            alt="image.png" width="90"
                                                                                            height="90" style="margin-right:0px"
                                                                                            data-image-whitelisted=""
                                                                                            class="CToWUd"><br>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div
                style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0px auto;max-width:652px">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:652px">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;padding:0px 32px;border-right:1px solid rgb(180,189,194);border-left:1px solid rgb(180,189,194);border-bottom:none;border-top:none;direction:ltr;font-size:0px;text-align:center;vertical-align:top">
                                <div
                                    style="max-width:100%;width:470px;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse;vertical-align:top">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:24px 0px 12px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:24px;line-height:29px;color:rgb(4,13,20)">
                                                        Confirm your email&nbsp;</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0px auto;max-width:652px">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:652px">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;padding:0px 32px;border-right:1px solid rgb(180,189,194);border-left:1px solid rgb(180,189,194);border-bottom:none;border-top:none;direction:ltr;font-size:0px;text-align:center;vertical-align:top">
                                <div
                                    style="max-width:100%;width:470px;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse;vertical-align:top">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(4,13,20)">
                                                        Hi {{username}},
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(4,13,20)">
                                                        Thank you for signing up for Buckets Investing</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(4,13,20)">
                                                        If you’d like to confirm your email, please follow the link below:</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0px auto;max-width:652px">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:652px">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;padding:0px 32px;border-right:1px solid rgb(180,189,194);border-left:1px solid rgb(180,189,194);border-bottom:none;border-top:none;direction:ltr;font-size:0px;text-align:center;vertical-align:top">
                                <div
                                    style="max-width:100%;width:470px;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse;vertical-align:top">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="line-height:0px">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align="center" bgcolor="#040D14" valign="middle"
                                                                    style="border-collapse:collapse;border:none;border-radius:22px;padding:11px 30px;background:rgb(4,13,20)"
                                                                >
                                                                    <a href="{{email_verification_link}}" target="_blank" style="color:rgb(255,255,255);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-family:Arial;font-size:15px;font-weight:bold;line-height:22px;margin:0px;text-decoration-line:none">Confirm Email</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Arial;font-size:13px;margin-top:15px;line-height:25px;color:rgb(111,120,126)">
                                                                        If this button does not work, please copy and paste this url into your browser: {{email_verification_link}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0px auto;max-width:652px">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:652px">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;padding:0px 32px;border-right:1px solid rgb(180,189,194);border-left:1px solid rgb(180,189,194);border-bottom:1px solid rgb(180,189,194);border-top:none;direction:ltr;font-size:0px;text-align:center;vertical-align:top">
                                <div
                                    style="max-width:100%;width:470px;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse;vertical-align:top">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(4,13,20)">
                                                        <br></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:12px 0px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(111,120,126)">
                                                        Sincerely,<br>Buckets Investing</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:0px 0px 22px;word-break:break-word">
                                                    <div
                                                        style="font-family:Arial;font-size:15px;line-height:25px;color:rgb(4,13,20)">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>